h1 {
    font-size: 100;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

#dropzone {
    border: 1px solid black;
    width: 500px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.track {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.track p {
    margin: 0;
}

#tracklist {
    margin-top: 50px;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
